@import '../../variables.scss';

.Nav-Header {
  display: flex;
  align-items: center;
  justify-content: center;
  &-Buttons {
      display: flex;
      flex-direction: row;
  }
}

.Game {
  display: flex;
  flex-direction: column;
  &-Header, &-Footer {
      flex-grow: 1;
      width: $fullWidth;
      align-items: center;
      justify-content: center;
      &-Images {
          flex-direction: row;
          flex-wrap: wrap;
      }
      &-Buttons {
          flex-direction: row;
      }
      &-Text {
          p {
              font-size: $fontSizeSmall;
              font-weight: bold;
          }
      }
  }
}

.Button-Game-Footer {
  margin: $spacer2 $spacer2 !important;
  border: 2px solid $whiteColor !important;
  border-radius: 0.75rem;
}