.Chips {
  .Chip-Red,
  .Chip-Blue,
  .Chip-Green,
  .Chip-Black {
    span {
      align-self: center;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
}

.Bet-Balance {
  margin-top: 1.5rem;
  span {
    display: flex;
    justify-self: center;
    font-weight: bold;
    font-size: 1.5rem;
  }
}

.Chips,
.Bet-Stack {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  .Chip-Red,
  .Chip-Blue,
  .Chip-Green,
  .Chip-Black,
  .Bet-Chip-Red,
  .Bet-Chip-Blue,
  .Bet-Chip-Green,
  .Bet-Chip-Black {
    display: flex;
    flex-direction: column;

    button {
      padding: 0rem;
      border: 0rem;
      width: 100px;
      height: 100px;
      transition: transform 0.33s;

      &:hover,
      &:focus {
        transform: scale(1.05);
      }
      &:active {
        transform: scale(0.95);
      }
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
