@import './../../variables.scss';

.Card {
  display: flex;
  flex-direction: column;
  width: $fullWidth;
  &-Body {
    align-items: center;
    justify-content: center;
    padding: $spacer2;
    p {
      font-size: $fontSizeSmall;
      font-weight: bold;
    }
    nav {
      padding: $spacer2;
    }
    &-Buttons {
      flex-direction: row;
    }
  }
  &-Image {
    padding: $spacer2;
  }
}
