@import './variables.scss';

/* Over-riding the default content-box setting to a border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
  background-color: $bgColor;
}

.Wrapper-Bg {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Wrapper {
  // max-width: 45rem;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: stretch;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  @media (min-width: 42rem) {
    grid-template-columns: 25% 75%;
  }
}

button,
a {
  cursor: pointer;
}

.Button {
  background-color: $buttonColor;
  font-size: $fontSizeSmall;
  color: $buttonTextColor;
  border: none;
  height: 3rem;
  padding: $spacer1 $spacer2;
  //margin: 1rem 0.5rem;
  transition: background-color 0.33s ease;
  text-decoration: none;
  &:hover,
  &:focus {
    background-color: $buttonColorHover;
  }
  &-Home,
  &-Go-Back {
    margin: $spacer0;
  }
}

.Image {
  max-width: 12rem;
  margin: 0.25rem 0.25rem;
}
