// Font Sizes
$fontSizeSmall: 1.50rem;

// Colors
$buttonColor: #333;
$buttonTextColor: #fff;
$buttonColorHover: #242424;
$bgColor: #4E9471;
$popUpBgColor: #fefefe;
$popUpColor: #888;
$whiteColor: white;

// Widths
$fullWidth: 100%;
$fullHeight: 100%;