// Font Sizes
$fontSizeSmall: 1.5rem;

// Colors
$buttonColor: #333;
$buttonTextColor: #fff;
$buttonColorHover: #121212;
$bgColor: #4e9471;
$whiteSecondaryColor: #fefefe;
$whiteBorder: #888;
$whiteColor: white;

// Widths
$fullWidth: 100%;
$fullHeight: 100%;

// Spacing
$spacer0: 0rem;
$spacer1: 0.5rem;
$spacer2: 1rem;
